:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}
input[type="file"] {
  display: none;
}
a {
  font-weight: 500;
  color: black;
  text-decoration: none;
}
a:hover {
  /*color: #535bf2;*/
}

body {
  margin: 0;
  /*display: flex;*/
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  padding:0.5em;
  text-align: center;
  user-select:none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /*background-color: #1a1a1a;*/
  cursor: pointer;
  transition: border-color 0.25s;
  font-size: 10pt;
}
button:hover {
  border-color: #646cff;
  background-color: #E9E9EC;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
input[type="color"], select {
  display: block;
  background-color: #E9E9EC;
  height:60%;
  border: 1px solid transparent;
  border-radius: 8px;
}
input[type="range"] {
  display:block;
  height:50%;
  accent-color: black;
}
input[type="number"] {
  display: block;
  height:49%;
  width:70px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #E9E9EC;
  text-align: right;
}
input:hover, select:hover {
  border-color: #646cff;
  transition: border-color 0.25s;
}

@keyframes left-sliding {
  0% { left: -20px;}
  100% { left: 0px;}
}
@keyframes top-sliding {
  0% {top: -10px;}
  100% {top: 0px;}
}
.fa-leftsliding {
  position:relative;
  animation-name: left-sliding;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.fa-topsliding {
  position: relative;
  animation-name: top-sliding;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
/*@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/


